<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="/home">Home</a>
        <a href="/read">Read</a>
        <a href="/update">Update</a>
        <a href="/create">Create</a>
        <a href="/delete">Delete</a>
      </nav>
    </header>
    <main>
      <form id="f">
        <label for="name">Student Name</label>
        <input type="text" name="name" />
        <label for="id">Id</label>
        <input type="text" name="id" />
        <label for="age">Age</label>
        <input type="number" name="age" />
        <label for="grades">Grades</label>
        <input type="number" name="grades" />
        <button id="btn" type="submit">SUBMIT</button>
      </form>
    </main>
    <script src="create.js"></script>
  </body>
</html>
